/*
 * TableTools styles
 */

 #squid-api-relations-widget-data-table .row {
 	margin: 10px 0px;
 }

#squid-api-relations-widget-data-table table {
	color: #666;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	-moz-box-shadow: 0 1px 2px #d1d1d1;
  	-webkit-box-shadow: 0 1px 2px #d1d1d1;
  	box-shadow: 0 1px 2px #d1d1d1;
  	overflow-x: auto;
  	width: 100%;
  	table-layout: fixed;
}

#squid-api-relations-widget-data-table table td {
	border-top: 1px solid #ffffff;
  	border-bottom: 1px solid #e0e0e0;
  	border-left: 1px solid #e0e0e0;
  	padding: 2px 3px;
  	font-size: 12px;
  	text-align: center;
}

#squid-api-relations-widget-data-table table tr {
	height: 45px;
}

#squid-api-relations-widget-data-table table thead th {
	border-left: 1px solid #e0e0e0;
	padding: 0px 20px 0px 10px;
	border-top: 1px solid #e0e0e0;
  	border-bottom: 1px solid #e0e0e0;
  	text-align: center;
	font-weight: normal;
	position: relative;
}

#squid-api-relations-widget-data-table table tr:nth-child(even) {
	  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
}

#squid-api-relations-widget-data-table a.ok {
	display: none;
}

#squid-api-relations-widget-data-table .edit, #squid-api-relations-widget-data-table .delete {
	cursor: pointer;
}

#squid-api-relations-widget-data-table .no-relations-available {
    padding: 15px;
    text-align: center;
}
