/* Form Elements CSS */
.squid-api-check-db-connection {
	width: 160px;
	margin: 10px 0px;
}
.squid-api-check-db-connection button:before {
	font-family: FontAwesome;
	content: "\f021";
	position: relative;
	right: 5px;
}
.squid-api-check-db-connection button.in-progress:before {
	animation: spin .7s infinite linear;
}
.squid-api-check-db-connection label {
	display: none;
}
