.squid-api-model-widget-popup table {
	color: #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: left;
}

.squid-api-model-widget-popup table tbody {
	max-height: 400px;
	display: inline-block;
	width: 100%;
	overflow-y: scroll;
}

.squid-api-model-widget-popup table tbody.no-values {
	overflow-y: auto;
}

.squid-api-model-widget-popup table td {
  	padding: 2px 3px;
	border-bottom: 1px solid #eaebec;
  	font-size: 12px;
}

.squid-api-model-widget-popup .create {
	display: inline-block;
	float: right;
	margin-bottom: 15px;
}

.squid-api-model-widget-popup .create button, .squid-api-model-widget-popup .create button:active:focus {
	outline: 0 !important;
}

.squid-api-model-widget-popup table td.select {
	padding-left: 20px;
}

.squid-api-model-widget-popup table tr {
	min-width: 298px;
	height: 45px;
	display: table;
}

.squid-api-model-widget-popup table td.edit {
	border-left: 1px solid #e0e0e0;
}

.squid-api-model-widget-popup table td {
	text-align: center;
	width: 20px;
	padding-left: 10px;
}

.squid-api-model-widget-popup table td.select {
	width: auto;
	text-align: left;
}

.squid-api-model-widget-popup table td.delete {
	padding-right: 25px;
}

.squid-api-model-widget-popup table td:hover {
	background-color: #fff;
}

.squid-api-model-widget-popup table tr {
	background: #fff;
	height: 35px;
}

.squid-api-model-widget-popup table tr td {
	cursor: pointer;
	padding: 15px;
	font-size: 15px;
}

.squid-api-model-widget-popup table tr td.select:hover {
	background: #f3f3f3;
}

.squid-api-model-widget-popup table tr {
	width: 100%;
}

.squid-api-model-widget-popup table tr.selected {
	background-color: #f3f3f3;
	height: 50px;
}

.squid-api-model-widget-popup table tr.selected i {
	font-size: 15px;
}

.squid-api-model-widget-popup .new-model {
	margin-bottom: 20px;
}

.squid-api-model-widget-popup .new-model button {
	position: absolute;
	background: none;
	right: 0px;
	border: 0px;
	top: 4px;
}

.squid-api-model-widget-popup .ui-widget-header {
	position: absolute;
	right: 0px;
	background: none;
}

.squid-api-model-widget-popup .ui-widget-header button {
	display: none;
}

.squid-api-model-widget-popup .management-type {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f9f9f9;
	left: -15px;
	min-width: 298px;
	border-radius: 10px;
	padding: 10px;
	top: 0px;
	position: relative;
}

.squid-api-model-widget-popup .no-data {
	float: left;
	margin: 70px 0px 0px 35%;
}

.squid-api-Project-model-widget-popup-container .modal-footer .ok, .squid-api-Domain-model-widget-popup-container .modal-footer .ok {
	display: none;
}

.squid-api-model-widget .squid-api-action:disabled {
	pointer-events: none;
}

.squid-api-admin-widgets-tooltip {
    background: #777;
	color: #fff;
	border-radius: 3px;
	width: 200px;
    opacity: 0.8;
}

.squid-api-admin-widgets-tooltip .ui-tooltip-content {
    position: relative;
    padding: 10px;
}

.squid-api-admin-widgets-tooltip:after, .squid-api-admin-widgets-tooltip:before {
	bottom: 97%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.squid-api-admin-widgets-tooltip:after {
	border-bottom-color: #777;
	border-width: 6px;
	margin-left: -6px;
}
.squid-api-admin-widgets-tooltipx:before {
	border-bottom-color: #777;
	border-width: 7px;
	margin-left: -7px;
}
