<div class='sq-loading' style='position:absolute; width:100%; top:40%; z-index: 1;'>
    <div class="spinner">
    <div class="rect5"></div>
    <div class="rect4"></div>
    <div class="rect3"></div>
    <div class="rect2"></div>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    </div>
</div>
<table id="squid-api-admin-widgets-user-table" class="sq-table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Name</th>
            <th>Groups</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>