.squid-api-admin-widgets-modal-form .modal-body form .error input {
    border: 2px solid #e74c3c;
}

.squid-api-admin-widgets-modal-form form ul {
	padding-left: 10px;
	display: inline-block;
}

.squid-api-admin-widgets-modal-form form ul li {
	float: left;
	list-style-type: none;
	min-width: 200px;
	display: block;
}

.squid-api-admin-widgets-modal-form form ul li label {
	padding-left: 10px;
}

.squid-api-admin-widgets-modal-form .modal-header {
	background-color: #f8f8f8;
}

.squid-api-admin-widgets-modal-form .modal-footer a.ok {
	position: relative;
	vertical-align: top;
	color: #777;
	text-align: center;
	background: #ecf0f1;
	border: 0;
	border-bottom: 2px solid #bdc3c7;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #bdc3c7;
	box-shadow: inset 0 -2px #bdc3c7;
}

.squid-api-admin-widgets-modal-form .modal-footer a.cancel {
	border: 1px solid #e5e5e5;
  	color: #777;
}

.squid-api-admin-widgets-modal-form .modal-body {
	padding-top: 0px;
}

.squid-api-admin-widgets-modal-form .modal-body label {
	font-weight: normal;
  	margin-top: 10px;
}

.squid-api-admin-widgets-modal-form .modal-body .invalid-expression {
	box-shadow: 0px 0px 6px 0px #e74c3c;
}

.squid-api-admin-widgets-modal-form .modal-body .invalid-expression:focus, .squid-api-admin-widgets-modal-form .modal-body .valid-expression:focus {
	border: none;
}

.squid-api-admin-widgets-modal-form .modal-body .valid-expression {
	box-shadow: 0px 0px 6px 0px #27ae60;
}

.squid-api-domain-suggestion-dialog {
	position: absolute;
	overflow-y: scroll;
	background-color: #f9f9f9;
	max-height: 85px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	border: 1px solid #f3f3f3;
	padding: 5px;
	width: 568px !important;
	opacity: 0.9;
	z-index: 5000;
}

.squid-api-domain-suggestion-dialog ul {
	padding-left: 0px;
}

.squid-api-domain-suggestion-dialog ul li {
	list-style-type: none;
	padding: 0px 10px;
	width: 90%;
	border-radius: 8px;
}

.squid-api-domain-suggestion-dialog ul li:hover {
	background: #777;
	color: #fff;
}

.squid-api-domain-suggestion-dialog:focus {
	outline: 0;
}

.squid-api-domain-suggestion-dialog .ui-dialog-titlebar-close, .squid-api-domain-suggestion-dialog .ui-dialog-titlebar {
	float: right;
}
