<div class='sq-loading' style='position:absolute; width:100%; top:40%; z-index: 1;'>
    <div class="spinner">
    <div class="rect5"></div>
    <div class="rect4"></div>
    <div class="rect3"></div>
    <div class="rect2"></div>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    </div>
</div>
<div id="squid-api-admin-widgets-user-table">
<div class="api-feedback"></div>
<table class="sq-table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Password</th>
            <th>Name</th>
            <th>Groups</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="add form-control input-sm" placeholder="Login Value..." data-attribute="login"></td>
            <td><input class="add form-control input-sm" placeholder="Email Value..." data-attribute="email"></td>
            <td><input class="add form-control input-sm" placeholder="Password..." data-attribute="password" type="password"></td>
            <td></td>
            <td class="user-value group-section"><i class='field-icon fa fa-plus-square'></i><select class="add form-control input-sm" data-attribute="groups"></select></td>
            <td class="action-section"><span class="send-email-label">Send Email: </span><input class="email-checkbox" type="checkbox" data-attribute="sendemail"><button class="add btn btn-default" data-value="add">Add</button></td>
        </tr>
    </tbody>
</table>