<div id="squid-api-shortcuts-widgets">
<form>
<div class="form-group">
    <label for="shortcutId">Id</label>
    <p class="help-block">
    This is the shortcut identifier which will be used as a URL parameter ("index.html?shortcut=myid").
    If not set it will automatically be generated.</p>
    <input type="text" class="form-control" id="shortcutId">
</div>
<div class="form-group">
    <label for="shortcutName">Name</label>
    <p class="help-block">This is a descriptive name for your shortcut. (Optional)</p>
    <input type="text" class="form-control" id="shortcutName">
</div>
<a href="#" class="btn btn-primary" id="saveBtn">Save</a>
</form>
</div>