.squid-api-model-widget-popup {
	margin-top: 35px;
	display: inline-block;
	background: #fff;
	border: 1px solid #e7e7e7;
  	border-radius: 8px;
  	z-index: 2;
}

.squid-api-model-widget-popup table {
	color: #666;
	background: #eaebec;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.squid-api-model-widget-popup table tbody {
	height: 300px;
	display: table-caption;
	overflow-y: scroll;
}

.squid-api-model-widget-popup table td {
	border-top: 1px solid #ffffff;
  	padding: 2px 3px;
  	font-size: 12px;
  	text-align: center;
}

.squid-api-model-widget-popup table td.select {
	min-width: 230px;
}

.squid-api-model-widget-popup table td.edit {
  	padding: 0px 8px;
}

.squid-api-model-widget-popup table td.edit, .squid-api-model-widget-popup table td.edit {
	border-left: 1px solid #e0e0e0;
}

.squid-api-model-widget-popup table tr {
	background: #fff;
	height: 35px;
}

.squid-api-model-widget-popup table tr td {
	cursor: pointer;
}

.squid-api-model-widget-popup table tr td:hover {
	background: #f9f9f9;
}

.squid-api-model-widget-popup table tr td.selected {
	background-color: #f9f9f9;
}

.squid-api-model-widget-popup .new-model {
	margin-bottom: 20px;
}

.squid-api-model-widget-popup .new-model button {
	position: absolute;
	background: none;
	right: 0px;
	border: 0px;
	top: 4px;
}

.squid-api-model-widget-popup .ui-widget-header {
	position: absolute;
	right: 0px;
	background: none;
}

.squid-api-model-widget-popup .ui-widget-header button {
	display: none;
}

.squid-api-model-widget-popup .management-type {
	text-align: center;
	border-bottom: 1px solid #e0e0e0;
	background-color: #f9f9f9;
	left: -16px;
	min-width: 299px;
	padding: 10px;
	top: 0px;
	position: relative;
}

.squid-api-model-widget-popup .no-data {
	float: left;
  	margin: 20px;
}

.squid-api-model-widget-popup:before {
	position: absolute;
	top: -6px;
	left: 9px;
	z-index: 2;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: #f9f9f9;
	content: '';
}