<div class="squid-api-modal-view squid-api-modal-view-{{modalCount}} modal {{#if fadeAnimation}}fade{{/if}}" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      {{#if header}}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">{{headerTitle}}</h4>
        </div>
      {{/if}}
      <div class="content">

      </div>
      {{#if footer}}
        <div class="modal-footer">
          	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      {{/if}}
  </div>
</div>
