<a id="view" role="button"  data-toggle="collapse" aria-expanded="false" href="#bookmark-configPanel">View</a>
<br>
<div id="bookmark-configPanel" class="collapse">
	<br>
	<textarea rows=3 id="{{id}}" name="{{name}}" class="form-control"></textarea>
	<br>
	<a class="btn btn-default" id="set" role="button" >Replace with current config</a>
</div>