<div class="squid-api-modal-view squid-api-modal-view-{{modalCount}} modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
  </div>
</div>
